section.section.container
    h2.section-title Products
    ul.product-list
        li.product-item
            img.product-item-image(src=img_path + '/pinky-pink.jpg' alt='Photo by Malvestida Magazine on Unsplash')
            .product-label NEW
            h3.product-item-title Pinky Pink
            p Congue nisi vitae suscipit tellus mauris a diam maecenas sed.
            p.price 2,490
        li.product-item
            img.product-item-image(src=img_path + '/out-of-the-blue.jpg' alt='Photo by Alexander Rotker on Unsplash')
            .product-label SALE
            h3.product-item-title Out of the Blue
            p Non sodales neque sodales ut etiam sit amet nisl purus.
            p.price 4,990
        li.product-item
            img.product-item-image(src=img_path + '/atomic-charcoal.jpg' alt='Photo by Imani Bahati on Unsplash')
            h3.product-item-title Atomic Charcoal
            p
                | Ridiculus mus mauris vitae ultricies leo. Libero id faucibus nisl
                | tincidunt.
            p.price 7,990
        li.product-item
            img.product-item-image(src=img_path + '/product-red-3x.jpg' alt='Photo by REVOLT on Unsplash')
            h3.product-item-title (PRODUCT)RED
            p
                | Morbi tristique senectus et netus. In iaculis nunc sed augue lacus
                | viverra.
            p.price 9,990
        li.product-item
            img.product-item-image(src=img_path + '/random-shoes.jpg' alt='Photo by Nikita Kachanovsky on Unsplash')
            h3.product-item-title Just Some Random Shoes
            p Lectus mauris ultrices eros in cursus turpis massa.
            p.price 7,990
        li.product-item
            img.product-item-image(src=img_path + '/military-shoes.jpg' alt='Photo by @plqml // felipe pelaquim on Unsplash')
            h3.product-item-title Military Shoes Woohoo
            p Elementum facilisis leo vel fringilla est ullamcorper eget.
            p.price 1,990
